{% import "macros.html" as macros %}
<!-- Social Links Section for Blog End -->
<div class="social-links-section mt-12 mb-8 text-center">
  <div class="profile-bio mb-4 text-lg">
    Let's be friends:
  </div>

  {% if config.extra.profile.social %}
  <nav class="flex justify-center space-x-3 dark:invert">
    {% for social in config.extra.profile.social %}
    {% if social.name != "rss" %}
    <a
      class="primary-link h-8 w-8 text-[0px] [background:var(--url)_center_center/cover_no-repeat]"
      style="--url: url({{ macros::get_social_icon(icon=social.name) }})"
      href="{{ social.url | replace(from=`$BASE_URL`, to=config.base_url) | safe  }}"
      target="_blank"
      rel="me"
      title="{{ social.name | title }}"
    >
      {{ social.name }}
    </a>
    {% endif %}
    {% endfor %}
  </nav>
  {% endif %}
</div>